@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray
}


header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 30px;
    font-variant: small-caps;
}
header > p{
    padding-top: 5px;
    padding-bottom: 30px;
    color: white;

}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold  
}
header a:hover, footer a:hover{
    text-decoration: underline
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(146, 0, 22);
    color: white;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.249);
    width: 400px;
    padding: 10px;
    border-radius: 15px;
}



footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}