@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}


header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}
header > p{
    padding-top: 5px;
    padding-bottom: 30px;
    color: white;
    font-family: var(--font1);

}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold  
}
header a:hover, footer a:hover{
    text-decoration: underline
}



section{    
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section>p{
    padding: 0px 20px;
    margin-left: 15px;   
    padding-top: 5vh;
    padding-bottom: 5vh;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(146, 0, 22);
    color: white;
    box-shadow: inset 0px 0px 15px black;
    background-size: cover; 
    background-position: right center;
    background-attachment: fixed;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.200);
    text-shadow: 1px 1px 1px black;
    margin-left: -15px;
    padding-left: 50px;

}
section#img01{
    background-image: url('../pacote-d012/imagens/background001.jpg');
    
     
}
section#img02{
    background-image: url('../pacote-d012/imagens/background002.jpg');
    
}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--font1);
}