@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype')
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor4: #185C4B;
    --cor1: #7ee1c854;
    --cor2: #39dbb346;
    --cor3: #00882d;
    --cor0: #5ac1a7;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'idroid', Arial, Verdana,Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}




header {
    background-color: var(--cor4);
    min-height: 130px;
}

header>h1 {
    text-align: center;
    font-family: var(--font-android);
    font-size: 2.8em;
    color: white;
    padding: 30px 0px 0px 0px;
    text-shadow: 4px 4px 4px black;
}

header>p {
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    display: block;
    margin: auto;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.074);


}




nav {
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.20);

}

nav>a {
    text-decoration: none;
    color: white;
    padding: 0px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    transition-duration: 0.3s;

}

nav>a:hover {
    background-color: white;
    color: var(--cor4);

}




main {
    background-color: white;
    min-width: 300px;
    max-width: 750px;
    margin: auto;
    padding: 20px 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.449);

}

main p {
    font-family: var(--font-padrao);
    font-size: 1em;
    text-align: justify;
    line-height: 1.35em;
    text-indent: 30px;
    padding: 5px 0px;
}

main strong {
    color: var(--cor3);
    background-color: rgba(0, 128, 0, 0.100);
    border-radius: 6px;
    padding: 0px 4px;
}

main a {
    text-decoration: none;
    color: var(--cor3);
}

main a:hover {
    text-decoration: underline;
}




article {
    padding: 0px 20px;
}

article>h1 {
    background-color: white;
    font-family: var(--font-android);
    margin: 15px 0px;
    font-size: 30px;
    color: var(--cor3);
}

article>h2 {
    font-family: var(--font-android);
    padding: 0px 0px;
    padding: 5px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor2), white);
}






aside {
    background-color: var(--cor1);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.500);

}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside>ul {
    list-style-position: inside;
    columns: 2;
    padding: 20px 0px;

}



img {
    width: 100%
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor4);
    margin: 20px -35px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


footer {
    background-color: var(--cor4);
    color: white;
}

footer>p {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}