@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor1:#fb7d00;
    --cor2:#025e88;
    --cor3:#006797;
    --cor4:rgb(25, 25, 25);
    --fonte1:'Poppins', sans-serif;
}



*{
    font-family: var(--fonte1);
    text-align: justify;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: black;
}

main{
    min-width: 200px;
    max-width: 900px;
    margin:auto;
    padding:30px;
    color: white;
}

footer{
    background-color: var(--cor1);
    color: black;
}

h1{
    color: var(--cor1);
    font-size: 2.5em;
    text-align: left;
}

h2{
    color: var(--cor1);
    font-size: 1.5em;
}

p{
    font-size: 1em;
}





#sobre{
   
}
#sobre>img{
    width: 35%;
    float:right;    
}



#conteudo{
    
}



#skills{
    
}



#contato{
    
}

.bloco{
    overflow: auto;
    padding: 20px;
    border-top: 5px solid var(--cor1);
    border-left: 5px solid var(--cor1);
    border-radius: 25px;
    margin-bottom: 75px;
    background-color:rgb(25, 25, 25 );
}